<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ec.android.module.bluetooth40">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application android:allowBackup="true">
        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />
    </application>
</manifest>
